html,
body {
	height: 100%;
}
.m15 {
	margin: 15px;
}
body {
    margin: 0;
      padding: 0;
	background: url(../astar-algorithm/gggrain.svg) no-repeat center center fixed;
	height: 100%;
	background-size: cover;
    height: 100vh;
}
.container {
	height: 100%;
}

/* .world {
	width: 30em;
	height: 30em !important;
} */
table .square-cell {
	width: 50px !important; 
	height: 50px  !important;
	text-align: center;
	/* vertical-align: middle; */
	border: 1px solid #0c0909;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}
.table {
    width: max-content;
}

.form-switch .form-check-input:checked {
	background-position: right center;
	background-color: rgb(202, 103, 248) !important;
  }